<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/navbar :: head">
</head>

<body>

	<div th:replace="./fragments/navbar :: navbar"></div>

	<main class="col-md-9 ms-sm-auto col-lg-10 px-5">

		<div class="row">
			<h2 class="pg_title">My reservations</h2>
		</div>
		<section style="margin: 20px;">
			<div class="row">

				<div th:each="reservation : ${reservations}" class="col-sm-3" style="padding: 5px;">
					<div class="card mb-3 text-center shadow border-0 rounded-3" style="width: 17rem;">
						<img th:src="@{/../images/studiocartoon.jpg}" class="card-img-top studio_icon mx-auto pt-3"
							alt="Card image cap">
						<div class="card-body">
							<h6 class="card-text"> Room: <span th:text="${reservation.room.roomNumber}"></span></h6>
							<h6 class="card-text"> Studio: <span th:text="${reservation.room.studio.name}"></span></h6>
							<h6 class="card-text"> Reservation Date: <span th:text="${reservation.startDate}"></span>
							</h6>
							<h6 class="card-text"> Price: S/ <span th:text="${reservation.price}"></span></h6>
							<br>
							<a th:href="@{'/myReservations/' + ${reservation.id} + '/paymentDetails'}"
								class="btn edit_btn search"> <i class="fas fa-search mx-3"></i></a>
							<a th:href="@{'/myReservations/' + ${reservation.id} + '/deleteReservation'}"
								class="btn btn-danger mx-3"> <i class="fas fa-trash-alt"></i> </a>



						</div>
					</div>
				</div>

			</div>
		</section>

	</main>
	<div th:replace="./fragments/navbar :: javascript"></div>
</body>

</html>