<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/navbar :: head">
</head>

<body>

	<div th:replace="./fragments/navbar :: navbar"></div>

	<main class="col-md-9 ms-sm-auto col-lg-10 px-5">

		<div class="row">
			<h2 class="pg_title">Instruments</h2>
		</div>
		<a th:href="@{'/instruments/new'}" class="btn og_btn"> <i class="fas fa-plus"></i> New</a>
		<section style="margin: 20px;">
			<div class="row">

				<div th:each="instrument : ${instruments}" class="col-sm-3" style="padding: 5px;">
					<div class="card mb-3 text-center" style="width: 17rem;">
						<img class="card-img-top studio_icon mx-auto pt-3" th:src="@{/../images/ICONSTU.jpg}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title"> ID: <span th:text="${instrument.id}"></span></h5>
							<h6 class="card-text"> Room: <span th:text="${instrument.room.roomNumber}"></span></h6>
							<h6 class="card-text"> Studio: <span th:text="${instrument.room.studio.name}"></span></h6>
							<h6 class="card-text"> Name: <span th:text="${instrument.name}"></span></h6>
							<h6 class="card-text"> Brand: <span th:text="${instrument.brand}"></span></h6>
							<h6 class="card-text"> Description: <span th:text="${instrument.description}"></span></h6>
							<br>
							<a th:href="@{'/instruments/' + ${instrument.id} + '/viewInstrument'}" class="btn edit_btn search"> <i class="fas fa-search"></i></a>
							<a th:href="@{'/instruments/' + ${instrument.id} + '/editInstrument'}" class="btn edit_btn pencil"> <i class="fas fa-pencil-alt"></i> </a>
							<a th:href="@{'/instruments/' + ${instrument.id} + '/deleteInstrument'}" class="btn btn-danger"> <i class="fas fa-trash-alt"></i> </a>
						</div>
					</div>
				</div>

			</div>
			
		</section>

	</main>
	<div th:replace="./fragments/navbar :: javascript"></div>
</body>

</html>