<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/navbar :: head">
</head>

<body>

	<div th:replace="./fragments/navbar :: navbar"></div>

	<main class="col-md-9 ms-sm-auto col-lg-10 px-5">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="row">
						<h2 class="pg_title">
							Instruments
						</h2>
					</div>

					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Brand</th>
								<th scope="col">Description</th>
								<th scope="col">Image</th>
								<th scope="col"></th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="instrument : ${instruments}">
								<th th:text="${instrument.id}" scope="row">1</th>
								<td th:text="${instrument.name}">Mark</td>
								<td th:text="${instrument.brand}"></td>
								<td th:text="${instrument.description}"></td>
								<td th:href="${instrument.image}"><img th:src="${instrument.image}"
										style="max-width: 150px;" alt=""></td>

								<td> <a th:href="@{'/instruments/' + ${instrument.id} + '/viewInstrument'}"
										class="btn edit_btn search"> <i class="fas fa-search"></i>
									</a> </td>

								<td> <a th:href="@{'/instruments/' + ${instrument.id} + '/editInstrument'}"
										class="btn edit_btn pencil">
										<i class="fas fa-pencil-alt"></i> </a></td>

								<td> <a th:href="@{'/instruments/' + ${instrument.id} + '/deleteInstrument'}"
										class="btn btn-danger">
										<i class="fas fa-trash-alt"></i> </a></td>
							</tr>
						</tbody>
					</table>

					<a th:href="@{'/instruments/new'}" class="btn og_btn"> <i class="fas fa-plus"></i> New</a>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="./fragments/navbar :: javascript"></div>
</body>

</html>