<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/navbar :: head">
</head>

<body>

	<div th:replace="./fragments/navbar :: navbar"></div>


	<main class="col-md-9 ms-sm-auto col-lg-10 px-5">
		<div class="container">
			<div class="row">
				<div class="col-6">

					<div class="row">
						<h2 class="pg_title">Instruments</h2>
					</div>

					<div class="card-body">

						<form th:action="@{/instruments/savenew}" th:object="${instrumentNew}" method="post">
							<div class="mb-3">

								<label for="name" class="form-label">Name</label> <input type="text"
									class="form-control" th:field="*{name}" placeholder="Name of Instrument">

								<label for="brand" class="form-label">Brand</label> <input type="text"
									class="form-control" th:field="*{brand}" placeholder="Brand of Instrument">

								<label for="description" class="form-label">Description</label> <input type="text"
									class="form-control" th:field="*{description}"
									placeholder="Description of Instrument">


							</div>

							<button type="submit" class="btn og_btn">Save</button>
						</form>
						<br> <a th:href="@{/instruments}" class="btn og_btn"> <i class="fas fa-angle-double-left"></i>
							Return
						</a>
					</div>

				</div>
			</div>
		</div>
	</main>
	<div th:replace="./fragments/navbar :: javascript"></div>
</body>

</html>