<div th:fragment="navbar">
    <header class="navbar navbar-light sticky-top flex-md-nowrap ps-3">
        <a class="col-md-3 col-lg-2 me-0 px-3 pt-3 ps-5" href="#"><img
                th:src="@{images/reserve_sonic_logo.png}"></img></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse ps-5">
                <div class="position-sticky pt-5">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{'/dashboard'}">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Past reservations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/rooms'}">
                                <span data-feather="play-circle"></span>
                                Rooms
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/instruments'}">
                                <span data-feather="music"></span>
                                Instruments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="settings"></span>
                                Settings
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>