<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve Sonic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/fontawesome.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/solid.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/master.css}" />
    <link rel="stylesheet" th:href="@{css/dashboard.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
    <!-- Font Awesome CSS -->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>
    <!-- Style POPUP CSS -->
    <link rel="stylesheet" href="css/RegisterPopup.css">

</head>

<body>
    <!-- <nav class=" navbar navbar-expand-lg navbar-light bg-white mx-5 px-5 pb-5">
        <a class="navbar-brand logo pe-3" href="/"><img src="../static/images/reserve_sonic_logo.png"
                th:src="@{images/reserve_sonic_logo.png}"></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-right">

                <input class="form-control mr-sm-2 search_input" type="search" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0 search" type="submit">Search</button>
            </ul>
        </div>
    </nav> -->

    <div class="d-flex flex-column p-3 bg-white shadow_nav justify-content-center text-center"
        style="width: 460px; height: 100vh;">
        <a href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none logo text-center justify-content-center">
            <img src="../static/images/reserve_sonic_logo.png" th:src="@{images/reserve_sonic_logo.png}"
                class=" justify-content-center"></img>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item mt-3 mb-2">
                <a href="#" class="nav-link active" aria-current="page">
                    <i class="fas fa-home"></i>
                    Home
                </a>
            </li>
            <li class="nav-item my-2">
                <a href="#" class="nav-link link-dark">
                    <i class="fas fa-history"></i>
                    Historial
                </a>
            </li>
            <li class="nav-item my-2">
                <a href="#" class="nav-link link-dark">
                    <i class="far fa-star"></i>
                    Favoritos
                </a>
            </li>
            <li class="nav-item my-2">
                <a href="#" class="nav-link link-dark">
                    <i class="fas fa-cogs"></i>
                    Ajustes
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">Historial</a></li>
                <li><a class="dropdown-item" href="#">Favoritos</a></li>
                <li><a class="dropdown-item" href="#">Ajustes</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>


    <div class="d-flex flex-column p-3 bg-white shadow_nav justify-content-center text-center"
        style="width: 460px; height: 100vh;">

    </div>
    <!--Search bar-->
    <div class="container">
        <input class="form-control mr-sm-2 search_input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0 search" type="submit">Search</button>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- jQuery -->
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
    <!-- Popper JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
    <!-- Bootstrap JS -->
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
    <!-- Custom Script -->
    <script src="@{js/Modalscript.js}"></script>
</body>

</html>