<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Studios</title>
</head>

<body>
    <h1>Studio List TEST</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
        </tr>
        <tr th:each="studio : ${studios}">
            <td th:text="${studio.ID}">.</td>
            <td th:text="${studio.name}">.</td>
        </tr>
    </table>

</body>

</html>