<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/navbar :: head">
</head>

<body>

	<div th:replace="./fragments/navbar :: navbar"></div>

	<main class="col-md-9 ms-sm-auto col-lg-10 px-5">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="row">
						<h2 class="pg_title">
							Studios
						</h2>
					</div>

					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Studio</th>
								<th scope="col" style="width: 10rem;">Business Hours</th>
								<th scope="col">Price per hour</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="studio : ${studios}">
								<th th:text="${studio.id}" scope="row" >1</th>
								<td th:text="${studio.name}">2</td>
								<td th:text="${studio.startTime} +' - ' + ${studio.endTime}">3</td>
								<td th:text="${studio.pricePerHour}">2</td>

								<td> <a th:href="@{'/studios/' + ${studio.id} + '/viewStudio'}" class="btn edit_btn search">
										<i class="fas fa-search"></i>
									</a> </td>

								<td> <a th:href="@{'/studios/' + ${studio.id} + '/editStudio'}" class="btn edit_btn pencil">
										<i class="fas fa-pencil-alt"></i> </a></td>

								<td> <a th:href="@{'/studios/' + ${studio.id} + '/deleteStudio'}" class="btn btn-danger"> 
										<i class="far fa-trash-alt"></i> </a></td>
										
										
							</tr>
						</tbody>
					</table>

					<a th:href="@{'/studios/new'}" class="btn og_btn"> <i class="fas fa-plus"></i> New</a>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="./fragments/navbar :: javascript"></div>
</body>

</html>