<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/navbar :: head">
</head>

<body>
	<div th:replace="./fragments/navbar :: navbar"></div>

	<main class="col-md-9 ms-sm-auto col-lg-10 px-5">
		<div class="container">
			<div class="row">
				<div class="col-6">

					<div class="row">
						<h2 class="pg_title">New Room</h2>
					</div>

					<div class="card-body">

						<form th:action="@{/rooms/savenew}" th:object="${roomNew}" method="post">
							<div class="mb-3">
							
								<label for="roomNumber" class="form-label">Room Number</label> <input
									type="number" min="1" class="form-control" th:field="*{roomNumber}"
									placeholder="Room Number" autofocus><br>
									
								<label for="Capacity" class="form-label">Capacity</label> <input
									type="number" min="1" class="form-control" th:field="*{capacity}"
									placeholder="Capicity" autofocus><br>
									
								<label for="speecs" class="form-label">Specs</label>
								<textarea class="form-control" th:field="*{speecs}"
									maxlength = "120"
									placeholder="Speecs of Room"></textarea><br>
									
								<label for="studio" class="form-label">Studio</label>
								<div class="col-sm-6">
									<select class="form-control" th:field="*{studio.id}">
										<option th:each="s: ${listStudios}" th:value="${s.id}"
											th:text="${s.name}" th:selected="(${s.id} == *{studio.id})"></option>
									</select>
								</div>

							</div>

							<button type="submit" class="btn og_btn">Save</button>
						</form>
						<br> <a th:href="@{/rooms}" class="btn og_btn"> <i class="fas fa-angle-double-left"></i>
							Return
						</a>
					</div>

				</div>
			</div>
		</div>
	</main>
	<div th:replace="./fragments/navbar :: javascript"></div>
</body>

</html>