<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/navbar :: head">
</head>

<body>
	<div th:replace="./fragments/navbar_new :: navbar"></div>

	<main class="col-md-9 ms-sm-auto col-lg-10 px-5">
		<div class="container">
			<div class="row">
				<div class="col-6">

					<div class="row">
						<h2 class="pg_title">New Room</h2>
					</div>

					<div class="card-body">

						<form th:action="@{/rooms/savenew}" th:object="${roomNew}" method="post">
							<div class="mb-3">

								<label for="capacity" class="form-label">Capacity</label> <input type="text"
									class="form-control" th:field="*{capacity}" placeholder="Capacity of Room">


							</div>

							<button type="submit" class="btn og_btn">Save</button>
						</form>
						<br> <a th:href="@{/rooms}" class="btn og_btn"> <i class="fas fa-angle-double-left"></i>
							Return
						</a>
					</div>

				</div>
			</div>
		</div>
	</main>
	<div th:replace="./fragments/navbar :: javascript"></div>
</body>

</html>