<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/navbar :: head">
</head>

<body>
	<div th:replace="./fragments/navbar :: navbar"></div>

	<main class="col-md-9 ms-sm-auto col-lg-10 px-5">

		<div class="container">
			<div class="row">
				<div class="col-6">

					<div class="row">
						<h2 class="pg_title pb-4">View Room</h2>
					</div>

					<div class="card mb-3 text-center" style="width: 500px;">
						<img class="card-img-top studio_icon mx-auto pt-3" th:src="@{/../images/studiocartoon.jpg}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Id: <span th:text="${room.id}"></span> </h5>
							<h5 class="card-text">Capacity: <span th:text="${room.capacity}"></span> people.</h5>
						</div>
					</div>

					<div class="pt-3">
						<a th:href="@{/rooms}" class="btn og_btn" style="width: 500px;"> <i
								class="fas fa-angle-double-left"></i>
							Return
						</a>
					</div>


				</div>
			</div>
		</div>
	</main>
	<div th:replace="./fragments/navbar :: javascript"></div>
</body>

</html>