<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/bootstrap/css/fontawesome.min.css}" rel="stylesheet">
	<link th:href="@{/bootstrap/css/solid.min.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/../css/master.css}" />
	<!-- Bootstrap core CSS -->
	<link th:rel="stylesheet"
		th:href="@{https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/5.0.1/css/bootstrap.min.css} " />

	<!-- Custom styles for this template -->
	<link th:href="@{../../css/dashboard.css}" rel="stylesheet">

	<title>Reserve Sonic - Rooms</title>
</head>

<body>
	<div th:replace="./fragments/navbar_new :: navbar"></div>

	<main class="col-md-9 ms-sm-auto col-lg-10 px-5">

		<div class="container">
			<div class="row">
				<div class="col-6">

					<div class="row">
						<h2 class="pg_title pb-4">View Room</h2>
					</div>

					<div class="card mb-3 text-center" style="width: 500px;">
						<img class="card-img-top studio_icon mx-auto pt-3" th:src="@{/../images/studiocartoon.jpg}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Id: <span th:text="${room.id}"></span> </h5>
							<h5 class="card-text">Capacity: <span th:text="${room.capacity}"></span> people.</h5>
						</div>
					</div>

					<div class="pt-3">
						<a th:href="@{/rooms}" class="btn og_btn" style="width: 500px;"> <i
								class="fas fa-angle-double-left"></i>
							Return
						</a>
					</div>


				</div>
			</div>
		</div>
	</main>
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>

	<script th:src="@{https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js}"
		integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
		crossorigin="anonymous"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js}"
		integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
		crossorigin="anonymous"></script>
	<script th:src="@{../../js/dashboard.js}"></script>
</body>

</html>